<form class="login-form" data-drupal-selector="login-form" action="/general-login" method="post" id="login-form" accept-charset="UTF-8">

{{ form.form_id }}
{{ form.form_build_id }}
<div id="fields-wrapper">
  {{ form.email }}
  {{ form.password }}
</div>
{{ form.submit }}

</form>
